[core]
	excludesfile = ~/.gitignore
	editor = cursor --wait
[diff]
	tool = Kaleidoscope
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
	trustExitCode = true
[merge]
	tool = Kaleidoscope
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
# Remeber to set your signing key and email
# [user]
# 	signingkey = 
# 	email = 
# 	name = Anton
[includeIf "gitdir:~/dev/doist/"]
    path = ~/dev/doist/.gitconfig
[init]
	defaultBranch = main
[gpg]
  format = ssh
[gpg "ssh"]
  program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[commit]
  gpgsign = true
[url "git@github.com:"]
	insteadOf = "gh:"
	pushInsteadOf = "git://github.com/"
